html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px 60px;
  font-family: $bodyFont;
}
@media (max-width: 800px) {
  body {
    padding: 12px 24px;
  }
}
h1 {
  font-size: clamp(2em, 2.67vw, 2.5em);
  font-weight: 400;
}

h2 {
  font-size: clamp(1.5em, 1.75em, 2em);
  font-weight: 700;
}
h3 {
  font-size: clamp(1.125em, 1.5em, 24px);
}
h1,
h2,
h3,
h4 {
  font-family: $headingFont;
}
p {
  font-size: 16px;
}
.bold-text {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: $bodyFont;
  transition: 0.3s;
  &:hover {
    color: $linkTextHover;
    transition: 0.3s;
  }
}

img {
  object-fit: cover;
  object-position: center;
}

.link-text {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.section--bottom__margin {
  margin-bottom: 96px;
}
.section_max-width {
  max-width: 1400px;
  margin: auto;
}